In [203]:
import pandas as pd
import numpy as np

In [204]:
def map_category_to_english(category):
    mapping = {
        "Root": "Root",
        "Thời Trang": "Fashion",
        "Ví nam đứng": "Men's Vertical Wallet",
        "Ví nam ngang": "Men's Horizontal Wallet",
        "Túi xách công sở nam": "Men's Office Handbag",
        "Túi đeo chéo nam": "Men's Crossbody Bag",
        "Vệ sinh giày": "Shoe Cleaning",
        "Balo laptop": "Laptop Backpack",
        "Vali nhựa": "Plastic Suitcase",
        "Giày tây nam có dây": "Men's Oxford Shoes",
        "Cặp đựng laptop": "Laptop Briefcase",
        "Balo nam": "Men's Backpack",
        "Giày sandals nam quai ngang": "Men's Horizontal Strap Sandals",
        "Ví ngắn": "Short Wallet",
        "Phụ kiện vali": "Luggage Accessories",
        "Dép nam xỏ ngón": "Men's Flip-Flops",
        "Giày thể thao nam cổ cao": "Men's High-Top Sneakers",
        "Balo du lịch, phượt": "Travel Backpack",
        "Giày lười nhựa nam": "Men's Slip-On Plastic Shoes",
        "Túi đeo chéo dạo phố": "Casual Crossbody Bag",
        "Balo nữ": "Women's Backpack",
        "Túi trống": "Duffle Bag",
        "Túi đeo chéo công sở": "Office Crossbody Bag",
        "Phụ kiện cho giày nam": "Men's Shoe Accessories",
        "Giày Đế xuồng nữ": "Women's Wedge Shoes",
        "Túi xách to bản": "Large Handbag",
        "Giày thể thao nam cổ thấp": "Men's Low-Top Sneakers",
        "Dép xỏ ngón": "Flip-Flops",
        "Giày sandals đế bằng": "Flat Sandals",
        "Túi tote có khóa": "Tote Bag with Zipper",
        "Giày bít mũi quai ngang": "Closed-Toe Shoes with Straps",
        "Dép nam quai ngang": "Men's Horizontal Strap Slippers",
        "Ví dài": "Long Wallet",
        "Túi bao tử, túi đeo bụng": "Waist Bag",
        "Giày búp bê mũi nhọn": "Pointed-Toe Ballet Flats",
        "Túi tote không khóa": "Open Tote Bag",
        "Giày búp bê mũi tròn": "Round-Toe Ballet Flats",
        "Giày cao gót quai sau": "Back-Strap High Heels",
        "Giày thể thao cổ cao": "High-Top Sneakers",
        "Giày boots nam cổ cao": "Men's High Boots",
        "Giày cao gót hở mũi": "Open-Toe High Heels",
        "Giày cao gót sục": "Mule High Heels",
        "Giày lười vải nam": "Men's Fabric Slip-On Shoes",
        "Dép đi trong nhà": "Indoor Slippers",
        "Phụ kiện cài túi": "Bag Accessories",
        "Giày boots nữ cổ ngắn": "Women's Short Boots",
        "Túi chống sốc": "Shockproof Bag",
        "Miếng lót giày nam": "Men's Shoe Insoles",
        "Túi xách vừa và nhỏ": "Medium & Small Handbags",
        "Giày lười mũi nhọn": "Pointed-Toe Slip-On Shoes",
        "Balo và Vali": "Backpack & Suitcase",
        "Dép quai ngang": "Horizontal Strap Slippers",
        "Giày sandals nam quai chéo": "Men's Cross-Strap Sandals",
        "Giày thể thao cổ thấp": "Low-Top Sneakers",
        "Phụ kiện du lịch khác": "Other Travel Accessories",
        "Miếng lót giày": "Shoe Insoles",
        "Giày sandals xỏ ngón": "Toe-Strap Sandals",
        "Vali vải": "Fabric Suitcase",
        "Giày lười da nam": "Men's Leather Slip-On Shoes",
        "Dép nam đi trong nhà": "Men's Indoor Slippers",
        "Túi thời trang nữ": "Women's Fashion Bag",
        "Giày - Dép nam": "Men's Shoes & Slippers",
        "Giày cao gót nhọn": "Pointed High Heels",
        "Giày - Dép nữ": "Women's Shoes & Slippers",
        "Phụ kiện cho giày": "Shoe Accessories",
        "Giày boots nam cổ thấp": "Men's Short Boots",
        "Balo dây rút": "Drawstring Backpack",
        "Ví nam": "Men's Wallet",
        "Giày lười hở gót": "Open-Back Slip-On Shoes",
        "Giày tây nam không dây": "Men's Loafer Shoes",
        "Giày sandals chiến binh": "Gladiator Sandals",
        "Dây, quai đeo túi": "Bag Straps & Handles",
        "Giày sandals buộc dây": "Lace-Up Sandals",
        "Túi thời trang nam": "Men's Fashion Bag",
        "Giày boots nữ cổ cao": "Women's High Boots",
        "Giày búp bê mũi vuông": "Square-Toe Ballet Flats",
        "Dép - Guốc nữ": "Women's Slippers & Clogs",
        "Giày búp bê": "Ballet Flats",
        "Giày lười mũi vuông": "Square-Toe Slip-On Shoes",
        "Vali trẻ em": "Kids' Suitcase",
        "Giày boots nữ": "Women's Boots",
        "Giày lười cao gót": "High-Heeled Slip-On Shoes",
        "Giày tây nam": "Men's Dress Shoes",
        "Ví passport": "Passport Wallet",
        "Ổ khóa": "Lock",
        "Móc Khóa - Phụ Kiện Trang Trí": "Keychains & Decorative Accessories",
        "Bàn ghế các loại": "Various Tables & Chairs",
        "Balo Học Sinh - Cặp học sinh": "Student Backpack & School Bag",
        "Giày boots nữ gót nhọn": "Pointed-Heel Women's Boots",
        "Kính Hiển Vi": "Microscope",
        "Phụ kiện nhà bếp khác": "Other Kitchen Accessories",
        "Phụ kiện giày nam": "Men's Shoe Accessories",
        "Sách Marketing - Bán hàng": "Marketing & Sales Books",
        "Giày sandals nam": "Men's Sandals",
        "Cây cảnh": "Plants",
        "Gọng kính nam": "Men's Eyeglass Frames",
        "Vali-Balo": "Suitcase-Backpack",
    }
    return mapping.get(category, None)

In [205]:
df1 = pd.read_csv('../data/raw/merged_data.csv')
df1.head()

,Unnamed: 0,id,name,description,original_price,price,fulfillment_type,brand,review_count,rating_average,favourite_count,pay_later,current_seller,date_created,number_of_images,vnd_cashback,has_video,category,quantity_sold
0,0,179731375,Balo nữ da dầy thời trang unisex màu sắc tươi ...,Balo nữ da dầy thời trang unisex màu sắc tươ...,14250,14250,dropship,OEM,0,0.0,0,False,Thiên Ân Balo,488,10,0,False,Balo nữ,0
1,1,249221065,Ví da đựng thẻ ngân hàng (7 màu) - 9205,...,10260,10260,dropship,OEM,0,0.0,0,False,SHOP THỜI TRANG 2N,166,2,0,False,Root,0
2,2,102862196,Balo nam nữ thời trang họa tiết bò sữa kiểu m...,Balo họa tiết bò sữa thời trang cho nam...,19999,19999,dropship,OEM,0,0.0,0,False,Xưởng may balo Đà Nẵng,831,5,0,False,Root,0
3,3,115740385,Vải nhũ bóng simili chống thấm may túi ví balo...,_ Vải nhũ bóng siêu xinh và cực kì xịn ...,30000,30000,dropship,OEM,0,0.0,0,False,BB Outlet,775,4,0,False,Root,0
4,4,102862375,Combo balo vừa a4 và túi tote thời trang kiểu...,BALO THỜI TRANG - BALO ĐẸP – BALO HỌC S...,29000,29000,dropship,OEM,0,0.0,0,False,Xưởng may balo Đà Nẵng,831,5,0,False,Root,0

In [206]:
#check duplicates
df1.duplicated().sum()

5361

In [207]:
df1 = df1.drop_duplicates(keep='first')

In [208]:
df1.duplicated().sum()

0

In [209]:
# check unique id
print(df1['id'].nunique() == len(df1))

False

In [210]:
df1 = df1.drop_duplicates(subset=['id'], keep='first')

In [211]:
df1.columns

Index(['Unnamed: 0', 'id', 'name', 'description', 'original_price', 'price',
       'fulfillment_type', 'brand', 'review_count', 'rating_average',
       'favourite_count', 'pay_later', 'current_seller', 'date_created',
       'number_of_images', 'vnd_cashback', 'has_video', 'category',
       'quantity_sold'],
      dtype='object')

In [212]:
df1.drop("Unnamed: 0", axis=1, inplace=True)
df1.columns

Index(['id', 'name', 'description', 'original_price', 'price',
       'fulfillment_type', 'brand', 'review_count', 'rating_average',
       'favourite_count', 'pay_later', 'current_seller', 'date_created',
       'number_of_images', 'vnd_cashback', 'has_video', 'category',
       'quantity_sold'],
      dtype='object')

In [213]:
print(df1.category.value_counts())

category
Root                          10059
Thời Trang                     2648
Ví nam đứng                     639
Ví nam ngang                    584
Túi xách công sở nam            471
                              ...
Sách Marketing - Bán hàng         1
Giày sandals nam                  1
Cây cảnh                          1
Gọng kính nam                     1
Vali-Balo                         1
Name: count, Length: 97, dtype: int64

In [214]:
df1['category'] = df1['category'].apply(map_category_to_english)
df1.category.value_counts()

category
Root                         10059
Fashion                       2648
Men's Vertical Wallet          639
Men's Horizontal Wallet        584
Men's Office Handbag           471
                             ...
Plants                           1
Men's Sandals                    1
Other Kitchen Accessories        1
Microscope                       1
Suitcase-Backpack                1
Name: count, Length: 94, dtype: int64

In [215]:
df1.dropna(subset = ['category'], inplace = True)
df1.category.value_counts()

category
Root                         10059
Fashion                       2648
Men's Vertical Wallet          639
Men's Horizontal Wallet        584
Men's Office Handbag           471
                             ...
Plants                           1
Men's Sandals                    1
Other Kitchen Accessories        1
Microscope                       1
Suitcase-Backpack                1
Name: count, Length: 94, dtype: int64

In [216]:
# gender: M=male, F=female, U=unisex
df1['gender'] = df1['category'].apply(lambda x: 'F' if 'women' in x.lower() else ('M' if 'men' in x.lower() else 'U'))
df1.gender.value_counts()

gender
U    19565
M     5202
F      587
Name: count, dtype: int64

In [217]:
def determine_gender(row):
    name, description = row["name"].lower(), row["description"].lower()
    has_nam = "nam" in name or "nam" in description
    has_nu = "nữ" in name or "nữ" in description
    if has_nam and not has_nu:
        return "M"
    elif has_nu and not has_nam:
        return "F"
    else:
        return "U"
df1["gender"] = df1.apply(determine_gender, axis=1)
df1.gender.value_counts()

gender
U    13882
M     6618
F     4854
Name: count, dtype: int64

In [218]:
df1.columns

Index(['id', 'name', 'description', 'original_price', 'price',
       'fulfillment_type', 'brand', 'review_count', 'rating_average',
       'favourite_count', 'pay_later', 'current_seller', 'date_created',
       'number_of_images', 'vnd_cashback', 'has_video', 'category',
       'quantity_sold', 'gender'],
      dtype='object')

In [219]:
# Bảng DimBrand (loại bỏ trùng lặp)
dim_brand = df1[['brand']].drop_duplicates().reset_index(drop=True)
dim_brand['brand_id'] = dim_brand.index + 1  # Tạo khóa chính
df1 = df1.merge(dim_brand, on='brand', how='left')  # Gán brand_id vào df

In [220]:
dim_brand.head()

    brand  brand_id
0     OEM         1
1  Midori         2
2  Shalla         3
3    XUDI         4
4  Xiaomi         5

In [221]:
dim_brand.to_csv('../data/processed/brand.csv')

In [222]:
df1.drop("brand", axis=1, inplace=True)
df1.head()

,id,name,description,original_price,price,fulfillment_type,review_count,rating_average,favourite_count,pay_later,current_seller,date_created,number_of_images,vnd_cashback,has_video,category,quantity_sold,gender,brand_id
0,179731375,Balo nữ da dầy thời trang unisex màu sắc tươi ...,Balo nữ da dầy thời trang unisex màu sắc tươ...,14250,14250,dropship,0,0.0,0,False,Thiên Ân Balo,488,10,0,False,Women's Backpack,0,F,1
1,249221065,Ví da đựng thẻ ngân hàng (7 màu) - 9205,...,10260,10260,dropship,0,0.0,0,False,SHOP THỜI TRANG 2N,166,2,0,False,Root,0,U,1
2,102862196,Balo nam nữ thời trang họa tiết bò sữa kiểu m...,Balo họa tiết bò sữa thời trang cho nam...,19999,19999,dropship,0,0.0,0,False,Xưởng may balo Đà Nẵng,831,5,0,False,Root,0,U,1
3,115740385,Vải nhũ bóng simili chống thấm may túi ví balo...,_ Vải nhũ bóng siêu xinh và cực kì xịn ...,30000,30000,dropship,0,0.0,0,False,BB Outlet,775,4,0,False,Root,0,U,1
4,102862375,Combo balo vừa a4 và túi tote thời trang kiểu...,BALO THỜI TRANG - BALO ĐẸP – BALO HỌC S...,29000,29000,dropship,0,0.0,0,False,Xưởng may balo Đà Nẵng,831,5,0,False,Root,0,U,1

In [223]:
# Bảng DimCategory (loại bỏ trùng lặp)
dim_category = df1[['category']].drop_duplicates().reset_index(drop=True)
dim_category['category_id'] = dim_category.index + 1  # Tạo khóa chính
df1 = df1.merge(dim_category, on='category', how='left')  # Gán brand_id vào df
dim_category.head()

              category  category_id
0     Women's Backpack            1
1                 Root            2
2              Fashion            3
3  Backpack & Suitcase            4
4       Men's Backpack            5

In [224]:
def map_to_category(product_name):
    category_mapping = {
        "Wallets": [
            "Men's Vertical Wallet", "Men's Horizontal Wallet", "Short Wallet", 
            "Long Wallet", "Passport Wallet"
        ],
        "Bags": [
            "Men's Office Handbag", "Men's Crossbody Bag", "Casual Crossbody Bag",
            "Tote Bag with Zipper", "Open Tote Bag", "Duffle Bag", 
            "Medium & Small Handbags", "Men's Fashion Bag", "Women's Fashion Bag"
        ],
        "Backpacks": [
            "Laptop Backpack", "Men's Backpack", "Women's Backpack",
            "Travel Backpack", "Drawstring Backpack", "Student Backpack & School Bag"
        ],
        "Suitcases": ["Plastic Suitcase", "Fabric Suitcase", "Kids' Suitcase"],
        "Shoes": [
            "Men's Oxford Shoes", "Men's Slip-On Plastic Shoes", "Men's High-Top Sneakers",
            "Men's Low-Top Sneakers", "Men's Fabric Slip-On Shoes", "Men's Leather Slip-On Shoes",
            "Men's Dress Shoes", "Men's Loafer Shoes", "Women's Wedge Shoes",
            "Closed-Toe Shoes with Straps", "Pointed-Toe Ballet Flats", "Round-Toe Ballet Flats",
            "Back-Strap High Heels", "Open-Toe High Heels", "Mule High Heels",
            "High-Heeled Slip-On Shoes", "Pointed High Heels", "Square-Toe Ballet Flats",
            "Square-Toe Slip-On Shoes", "Women's Boots", "Men's High Boots",
            "Men's Short Boots", "Women's Short Boots", "Women's High Boots",
            "Pointed-Heel Women's Boots"
        ],
        "Slippers & Sandals": [
            "Men's Horizontal Strap Sandals", "Flip-Flops", "Men's Flip-Flops",
            "Flat Sandals", "Toe-Strap Sandals", "Men's Cross-Strap Sandals",
            "Gladiator Sandals", "Lace-Up Sandals", "Women's Slippers & Clogs",
            "Men's Horizontal Strap Slippers", "Men's Indoor Slippers", "Indoor Slippers"
        ],
        "Shoe Accessories": [
            "Shoe Cleaning", "Men's Shoe Accessories", "Shoe Accessories",
            "Men's Shoe Insoles", "Shoe Insoles"
        ],
        "Bag Accessories": ["Luggage Accessories", "Bag Accessories", "Bag Straps & Handles"],
        "Locks & Keys": ["Lock", "Keychains & Decorative Accessories"],
        "Other Accessories": ["Other Travel Accessories", "Various Tables & Chairs", "Plants"],
        "Root": ["Root"],
    }

    for category, items in category_mapping.items():
        if product_name in items:
            return category
    return "Other"

In [225]:
dim_category['parent_category'] = dim_category['category'].apply(map_to_category)
dim_category.head()

              category  category_id parent_category
0     Women's Backpack            1       Backpacks
1                 Root            2            Root
2              Fashion            3           Other
3  Backpack & Suitcase            4           Other
4       Men's Backpack            5       Backpacks

In [226]:
print(dim_category['category'].nunique() == len(dim_category))

True

In [227]:
dim_category.to_csv('../data/processed/category.csv')

In [228]:
df1.drop("category", axis=1, inplace=True)
df1.head()

,id,name,description,original_price,price,fulfillment_type,review_count,rating_average,favourite_count,pay_later,current_seller,date_created,number_of_images,vnd_cashback,has_video,quantity_sold,gender,brand_id,category_id
0,179731375,Balo nữ da dầy thời trang unisex màu sắc tươi ...,Balo nữ da dầy thời trang unisex màu sắc tươ...,14250,14250,dropship,0,0.0,0,False,Thiên Ân Balo,488,10,0,False,0,F,1,1
1,249221065,Ví da đựng thẻ ngân hàng (7 màu) - 9205,...,10260,10260,dropship,0,0.0,0,False,SHOP THỜI TRANG 2N,166,2,0,False,0,U,1,2
2,102862196,Balo nam nữ thời trang họa tiết bò sữa kiểu m...,Balo họa tiết bò sữa thời trang cho nam...,19999,19999,dropship,0,0.0,0,False,Xưởng may balo Đà Nẵng,831,5,0,False,0,U,1,2
3,115740385,Vải nhũ bóng simili chống thấm may túi ví balo...,_ Vải nhũ bóng siêu xinh và cực kì xịn ...,30000,30000,dropship,0,0.0,0,False,BB Outlet,775,4,0,False,0,U,1,2
4,102862375,Combo balo vừa a4 và túi tote thời trang kiểu...,BALO THỜI TRANG - BALO ĐẸP – BALO HỌC S...,29000,29000,dropship,0,0.0,0,False,Xưởng may balo Đà Nẵng,831,5,0,False,0,U,1,2

In [229]:
dim_product = df1[['id', 'name', 'description', 'original_price',
                  'fulfillment_type', 'brand_id', 'review_count',
                  'rating_average', 'favourite_count',
                  'number_of_images', 'has_video',
                  'category_id', 'gender', 'date_created']].drop_duplicates().reset_index(drop=True)
dim_product.rename(columns={'id': 'product_id'}, inplace=True)
dim_product.head()

,product_id,name,description,original_price,fulfillment_type,brand_id,review_count,rating_average,favourite_count,number_of_images,has_video,category_id,gender,date_created
0,179731375,Balo nữ da dầy thời trang unisex màu sắc tươi ...,Balo nữ da dầy thời trang unisex màu sắc tươ...,14250,dropship,1,0,0.0,0,10,False,1,F,488
1,249221065,Ví da đựng thẻ ngân hàng (7 màu) - 9205,...,10260,dropship,1,0,0.0,0,2,False,2,U,166
2,102862196,Balo nam nữ thời trang họa tiết bò sữa kiểu m...,Balo họa tiết bò sữa thời trang cho nam...,19999,dropship,1,0,0.0,0,5,False,2,U,831
3,115740385,Vải nhũ bóng simili chống thấm may túi ví balo...,_ Vải nhũ bóng siêu xinh và cực kì xịn ...,30000,dropship,1,0,0.0,0,4,False,2,U,775
4,102862375,Combo balo vừa a4 và túi tote thời trang kiểu...,BALO THỜI TRANG - BALO ĐẸP – BALO HỌC S...,29000,dropship,1,0,0.0,0,5,False,2,U,831

In [230]:
dim_product.columns

Index(['product_id', 'name', 'description', 'original_price',
       'fulfillment_type', 'brand_id', 'review_count', 'rating_average',
       'favourite_count', 'number_of_images', 'has_video', 'category_id',
       'gender', 'date_created'],
      dtype='object')

In [231]:
dim_product.to_csv('../data/processed/product.csv')

In [232]:
# Bảng DimSeller (loại bỏ trùng lặp)
dim_seller = df1[['current_seller']].drop_duplicates().reset_index(drop=True)
dim_seller['seller_id'] = dim_seller.index + 1  # Tạo khóa chính
df1 = df1.merge(dim_seller, on='current_seller', how='left')  # Gán brand_id vào df
dim_seller.rename(columns={'current_seller': 'seller_name'}, inplace=True)
dim_seller

                    seller_name  seller_id
0                 Thiên Ân Balo          1
1            SHOP THỜI TRANG 2N          2
2        Xưởng may balo Đà Nẵng          3
3                     BB Outlet          4
4                      Mavishop          5
...                         ...        ...
2689  CH Thực Phẩm Chức Năng HM       2690
2690                  Thebeauty       2691
2691              Lovely Stores       2692
2692    Shop gia dụng toàn quốc       2693
2693                 Trangsocks       2694

[2694 rows x 2 columns]

In [233]:
dim_seller.to_csv('../data/processed/seller.csv')

In [ ]:
fact_sales = df1['']
fact_sales.reset_index(drop=True, inplace=True)
fact_sales['sales_id'] = fact_sales.index + 1  # Bắt đầu từ 1